@model IEnumerable<Trash_Collector_Application.Models.Employee>

@{
    ViewData["Title"] = "Employee Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome, placeholder for name </h1>
<hr />
<h4>Today's Pickups (placeholder for zip code)</h4>
<h4 class="btn btn-outline-light">-Fitler by day of week Placeholder-</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}*@
    </tbody>
</table>
