@model Trash_Collector_Application.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Employee Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome, @Model.Employee.FirstName </h1>
<hr />
<h2>Today's Pickups @Model.Employee.ZipCode</h2>
<h3 class="btn btn-outline-primary">-Fitler by day of week Placeholder-</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Customer Address
            </th>
            <th>
                Service Day
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetAddress),
                @Html.DisplayFor(modelItem => item.Address.City),
                @Html.DisplayFor(modelItem => item.Address.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Service.DayOfService)
            </td>
            <td>
                <a asp-action="ConfirmService" asp-route-id="@item.Id">Confirm Completed Service</a> |
                <a asp-action="CustomerDetails" asp-route-id="@item.Id">Customer Details</a> |

            </td>
        </tr>
}
    </tbody>
</table>
